
@{
    ViewBag.Title = "VolunteerSignUp";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main>
    <!--? Hero Start -->
    <div class="slider-area2">
        <div class="slider-height2 d-flex align-items-center">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="hero-cap hero-cap2 pt-20 text-center">
                            <h2>Volunteer Sign Up</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Hero End -->
    <!--?  Contact Area start  -->
    <section class="contact-section">
        <div class="container">
            <div class="row">
                @if (ViewBag.Message != null)
                {
                    <p class="alert alert-danger">@ViewBag.Message</p>
                }
            </div>
            <div class="row">
                <div class="col-12">
                    <h2 class="contact-title">Create a volunteer account</h2>
                </div>
                <div class="col-lg-12">
                    <form class="form-contact login_form" action="@Url.Action("VolunteerPostSignUp","Home")" method="post" id="login_form" novalidate="novalidate">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <input class="form-control valid" name="Name" id="Name" type="text" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter your name'" placeholder="Enter your name">
                                </div>
                            </div>
                            <input type="hidden" name="Role" value="3" />
                            <input type="hidden" name="IsActive" value="1" />
                            <input type="hidden" name="CreatedAt" value="@DateTime.Now" />
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <input class="form-control valid" name="Email" id="Email" type="email" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter email address'" placeholder="Email">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <input class="form-control valid" name="Phone" id="Phone" type="text" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter your phone'" placeholder="Enter your phone">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <input class="form-control valid" name="Address" id="Address" type="text" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter your address'" placeholder="Address">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <input class="form-control valid" name="Password" id="Password" type="password" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter password'" placeholder="Enter password">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <input class="form-control valid" name="CPassword" id="CPassword" type="password" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter confirm password'" placeholder="Confirm Password">
                                </div>
                            </div>
                        </div>
                        <div class="form-group mt-3">
                            <button type="submit" class="button button-loginForm boxed-btn">Send</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <!-- Contact Area End -->
</main>
